body {
  min-height: 100vh;
}

.form-container{
    min-width: 80%;
    height: 40vh;
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center; 
    flex-direction: column;
    text-align: center;
    display: flex;
}


label {
    text-align: left;
    padding: 1rem 0;
}

.form-singin {
    background-color:rgba(254, 200, 100, 0.984);
    border-radius: 20px;
    box-sizing: border-box;
    height: 600px;
    padding: 70px;
    width: 500px;
    margin:auto;
    margin-top: 4rem;
    place-items: center center;
    
  }

  .form-signup {
    background-color:rgba(254, 200, 100, 0.984);
    border-radius: 20px;
    box-sizing: border-box;
    height: 820px;
    padding: 40px;
    width: 600px;
    margin:auto;
    margin-top: 2rem;
    place-items: center center;
    
  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  } 
  .input {
    background-color:white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 20px 20px 0;
    width: 33%;
  }

