.navbar {
    padding: 5px 30px;
    background-color: black;
    height: 80px;
    width:100;
    /* color: white; */
    font-size: 20px;
    font-weight:bold;
    /* align-content:center; */

}
.link {
    font-size: 20px;
    color:orange;
    width: 50px;
    text-decoration: none;
    padding: 25px;
    width: fit-content;
    flex-direction:row;
} 

.nav-color{
    color:orange;
}

.nav-background {
    color:white;
}