.search-page {
    min-width: 50%;
    width: 85%;
    height: 150vh;
    border:solid black;
    margin: 0vw;
    padding: 5vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-content: center;
}


.search_h2 {
    align-items: center;
    width: auto;
    display: block;
    align-items: center;
}

.searchBar {
    padding: 20px;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    display: block;
}
.h2 {
    align-items: center;
    color: orange;
    text-align: center;
}

.dropdown {
    background-color: white;
    border: 1px solid gray;
    align-items: center;
}
.search-container {
width: 100px;

}

.search-inner {
    display: flex;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}



.search-result {
    text-align: center;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    align-items: center;
}
 


article {
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color:darkblue;
    margin-top: 10rem;
}

.error-lable {
color:red;
font-size: smaller;
}

.bg-image {
    background-position: center;
    background-image: url(../Image/world-map-earth-multicultural-group-people.png);
    width:55rem;
    height: 30rem;
    background-size: cover;
    margin-right: 0.5rem;
    align-self: center;
    justify-content: center;
}

.hoempage-p {
color:black;
font-size:larger;
font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
padding: 0.3rem;
}

h6 {
    text-align: center;
    color: orange;
}

span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}