.navbar {
    padding: 5px 30px;
    background-color: black;
    height: 80px;
    width:100;
    color: white;
    display:flex;
    flex-direction:row;
    font-size: 24px;
    font-weight:bold;
    align-items: center;
}
.link {
    font-size: large;
    color:orange;
    /* background-color:#282c34; */
    width: 50px;
    text-decoration: none;
    display: flex;
    padding: 25px;
    width: fit-content;
    flex-direction:row;
}

